<h1>Editing sample article</h1>

<%= render "form", sample_article: @sample_article %>

<br>

<div>
  <%= link_to "Show this sample article", @sample_article %> |
  <%= link_to "Back to sample articles", sample_articles_path %>
</div>
