<p style="color: green"><%= notice %></p>

<h1>Sample articles</h1>

<div id="sample_articles">
  <% @sample_articles.each do |sample_article| %>
    <%= render sample_article %>
    <p>
      <%= link_to "Show this sample article", sample_article %>
    </p>
  <% end %>
</div>

<%= link_to "New sample article", new_sample_article_path %>
