<h1>記事一覧</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
     <%= link_to "Show this article", article %>
     <%= link_to "Edit this article", edit_article_path(article) %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
